*{
    box-sizing: border-box;
}
body{
    background: #ccc;
    margin: 0px;
    width:100%;
}
#wrapper{
    width:90%;
    background-color:lightseagreen;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 2px 10px black;
}
#wrapper>h1{
    margin-left:250px;
    color:white;
    font-size: 40px;
}

#wrapper::after{
    content: "";
    display: block;
    clear: both;
    visibility: none;
}
form{
    font-size: 20px;
}
#signup{
    background-color:#198882;
    float: left;
    color:white;
    padding: 40px;
}
#signin{
    background: #198882;
    color:white;
    float: right;
    padding: 60px;
}
