body{
    margin: 0px;
    padding:0px;            
    background-color:lightslategray;
}

#ball{
    border-radius: 100px;
    margin:auto;
    width:100px;
    height:100px;
    background-color:yellow;
    box-shadow: 1px 2px 10px black;
    position:relative;
    z-index: 5;

}
#navigator{
    background-color:lightgray;
    width:100px;
    height: 100px;
    margin:400px 0px 0px 850px;
    position: absolute;
}